<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Correo Enviado</title>
</head>
<body>
    <h1>Correo de Restablecimiento Enviado</h1>
    <p>Por favor, revisa tu correo electrónico para restablecer tu contraseña.</p>
</body>
</html>