<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enlace Expirado</title>
</head>
<body>
    <h1>Enlace Expirado</h1>
    <p>El enlace para restablecer tu contraseña ha expirado. Por favor, solicita un nuevo enlace.</p>
    <a href="/request-password-reset">Solicitar nuevo enlace</a>
</body>
</html>